
/*------------------- Global styling -------------------*/

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(../image/sea.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-family: 'playfair display';
    font-style: italic;
    font-weight: 900;
    font-size: 5vw;
    margin: 0;
    line-height: 100%;
    color: #051133;
}

p {
    font-family: 'source sans pro';
}

a {
    font-family: 'source sans pro';
    text-decoration: none;
    color: floralwhite;
}

.link-btn {
    border: #fff 2px solid;
    padding: 0.5% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section {
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 2;
}

.vw_size {
    height: 100vh;
    width: 100%;
}

/*------------------- Body Background -------------------*/

#backDiv {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #22ddee;
    mix-blend-mode: overlay;
    opacity: 0.2;
}

#back_video {
    position: fixed;
    top: -20%;
    z-index: -1;
}

.backstrip {
    width: 100%;
    height: 80vh;
}

@media(min-width:768px){
    
    #back_video {
        width: 120%;
    }
}

/*----------------------- Nav -----------------------*/

#nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px) {
    #nav { 
        height: 10vh;
    }
    
    #nav a { 
        padding: 0 2%;
    }

}

/*------------------- Landing section -------------------*/

#landing {
    background-image: url(../image/);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#villa_logo {
    width: 40%;
    margin-bottom: 5%;
}

@media(min-width:768px){
    
    #villa_logo {
        width: 20%;
    }
}

/*------------------- The Villa section -------------------*/

#section2 {
    height: 60vh;
    width: 100%;
    background-image: url(../image/10%20crop.PNG);
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#section2 h1 {
    position: absolute;
    font-size: 11vw;
    color: rgba(255,250,240,0.9)
}

#section3 {
    background-image: url(../image/22%20low.jpg);
    background-attachment: fixed;
    background-position: bottom;
    margin-top: 15%;
    flex-direction: column;
    align-items: flex-end;
}

#villa_intro {
    height: 100vh;
    width: 100%;
    background-color: floralwhite;
}

#villa {
    position: absolute;
    width: 55%;
    height: 40vh;
    padding: 3%;
    background-color: floralwhite;
    opacity: 1;
    display: flex;
    align-items: center;
}

#cat {
    height: 80vh;
    width: 40vw;
    position: absolute;
    transform: translate(30vw, -50%);
    background-image: url(../image/10%20crop.PNG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#section4 {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
